{% extends 'base/base.html' %}

{% block title %}Delete Profile{% endblock title %}

{% block page_content %}

    <h2 class="text text-danger">Are you sure that you want to delete user {{ user.get_full_name }}</h2>
    <div class="container my-4">
        <form method="post" action="{% url 'delete user' pk=user.pk %}">
            {{ form.as_p }}
            <input class="btn btn-danger" type="submit" value="Delete">
            {% csrf_token %}
        </form>


        <a class="btn btn-primary mx-2 my-5" href="{% url 'details user' pk=user.pk %}">Back</a>

    </div>

{% endblock page_content %}