{% extends 'base/base.html' %}

{% block page_content %}

    <div class="container mx-3">

        <h2>Create New User</h2>
        <form method="post" action="{% url 'register user' %}">
            <p>
                {{ form.username }}
            </p>
            <p>
                {{ form.first_name }}
            </p>
            <p>
                {{ form.last_name }}
            </p>
            <p>
                {{ form.email }}
            </p>
            <p>
                {{ form.position }}
            </p>
            <p>
                {{ form.password1 }}
            </p>

            <p>
                {{ form.password2 }}
            </p>

            <input type="submit" value="Cereate User">
            {% csrf_token %}
        </form>

    </div>

{% endblock page_content %}