{% extends 'base/base.html' %}

{% block page_content %}
    <div class="container px-1">
        <form method="post" action="{% url 'issue edit' pk=issue.pk %}">
            {{ form.as_p }}
            {% if request.user.position in 'maintenance, technician' %}
                <input class="btn-primary" type="submit" value="Save">
                <input class="btn-warning" type="submit" value="Close Issue" name="close issue">
            {% endif %}
            {% csrf_token %}
        </form>
    </div>

{% endblock page_content %}