{% extends 'base/base.html' %}
{% load static %}
<!-- Navigation-->
{% block title %}{{ machine.name }} details{% endblock title %}

{% block page_content %}
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6">
                    {% if machine.image %}
                        <img class="card-img-top mb-5 mb-md-0" src="{{ machine.image.url }}" alt="..."/></div>
                    {% else %}
                        <img class="card-img-top mb-5 mb-md-0" src="{% static 'images/machines/dummy_machine.jpg' %}"/>
                        </div>
                    {% endif %}
            <div class="col-md-6">
                <div class="small mb-1">Serial Number: {{ machine.serial_number }}</div>
                <h1 class="display-5 fw-bolder">{{ machine.name }}</h1>
                <div class="fs-5 mb-5">
                    <span>{{ machine.type }}</span>
                </div>
{#                                <div>Details</div>#}
{#                                <p class="lead">{{ machine.detailed_info }}</p>#}
                <div class="d-flex">
                    <div class="col-3">
                        <a class="btn btn-outline-dark flex-shrink-0" type="submit"
                           href="{% url 'machine edit' pk=machine.pk %}">
                            <i class="bi-cart-fill me-1"></i>
                            Edit
                        </a>
                    </div>
                    <div class="col-3">
                        <a class="btn btn-outline-dark flex-shrink-0" type="submit"
                           href="{% url 'machines' %}">
                            <i class="bi-cart-fill me-1"></i>
                            Back
                        </a>
                    </div>

                </div>


            </div>
        </div>
        </div>
    </section>

{% endblock page_content %}
