{% extends 'base/base.html' %}

{% block title %}Delete {{ machine.name }}{% endblock title %}
{% block header %}DELETE HANDLER{% endblock header %}


{% block page_content %}

    <div class="col-5">
        <form method="post" action="{% url 'machine delete' pk=machine.pk %}">
            {{ form.as_p }}
            Are you sure that you want to delete machine {{ machine.name }}?
            <div>
                <input class="btn-danger" type="submit" value="Delete">
            </div>

            {% csrf_token %}
        </form>

        <a href="{% url 'machine edit' pk=machine.pk %}">
            <button>Back</button>
        </a>

    </div>

{% endblock page_content %}