{% extends 'base/base.html' %}

{% block title %}Order parts{% endblock title %}

{% block page_content %}

    <div class="container col-3 mx-2 my-2">
        <p class="mx-2 my-2 float-md-start">
            You have {{ total_cart_qty }} item(s) in your <a class="text-uppercase font-monospace"
                                                             href="{% url 'show cart' %}">Cart</a>
        </p>


        {#        {% if total_cart_qty != 0 %}#}
        {#            <button class="float-end btn-warning" type="submit" form="form" name="Order">Place Order</button>#}
        {#        {% endif %}#}

    </div>


    <div class="container mx-3 my-lg-5">
        <p class="my-3 mx-0">
        <h3>Add items to Cart</h3>
        </p>

        <form method="get" id="form" action="{% url 'create oder' %}">
            <label>
                <input class="text border-dark" name="pattern" placeholder="Search Part number:">
            </label>

            <input class="btn btn-primary" type="submit" value="Search">
        </form>

        <table>
            <tr>
                <th>Part Number</th>
                <th>Description</th>
                <th>Qty to add</th>
            </tr>

            {% for part in object_list %}
                <tr>
                    <form method="get" action="{% url 'create oder' %}">
                        <td>
                            <label>
                                <input type="text" name="part number" value="{{ part.part_number }}" readonly>
                            </label>
                        </td>
                        <td>
                            <label>
                                <input type="text" name="description" value="{{ part.description }}" readonly>
                            </label>
                        </td>
                        <td>
                            <label>
                                <input type="number" name="qty" value="1" maxlength="3" min="1" size="7">
                            </label>
                        </td>
                        <td>
                            <button class="btn-outline-success" name="Add to cart">Add to Cart</button>
                        </td>
                        {% csrf_token %}
                    </form>
                </tr>

            {% endfor %}

        </table>


        {#    <ul>#}
        {#        {% for part_number, qty in cart.items %}#}
        {#            <li>{{ part_number }}: {{ qty }}</li>#}
        {#        {% endfor %}#}
        {#    </ul>#}

    </div>

{% endblock page_content %}