{% extends 'base/base.html' %}

{% block title %}Cart{% endblock title %}

{% block page_content %}

    <div class="container my-3 mx-3">
        {% if not object_list %}
            Your Cart is Empty
        {% else %}



            <h3>Items in Cart</h3>
            <table class="table w-auto">
                <tr>
                    <th>Part Number</th>
                    <th>Description</th>
                    <th>Price, EUR</th>
                    <th>Total, EUR</th>
                    <th>Qty</th>
                    {#                <th></th>#}
                    {#                <th></th>#}

                </tr>
                {% for item in object_list %}
                    <tr>
                        <td>{{ item.part_number }}</td>
                        <td>{{ item.description }}</td>
                        <td>{{ item.price }}</td>
                        <td>{{ item.item_cart_total }}</td>

                        <td>
                            <form id="form" method="get" action="{% url 'show cart' %}">
                                <label>
                                    <input name={{ item.part_number }} type="number" min="1" value="{{ item.quantity }}" size="1">
                                </label>
                                <button class="btn-outline-success text-black" type="submit" value="{{ item.part_number }}"
                                        name="Update">Update
                                </button>
                                <button class="btn-outline-danger text-black" type="submit" value="{{ item.part_number }}" name="Remove" style="color: red">
                                    Remove
                                </button>
                            </form>
                        </td>

                        {#            <td>#}
                        {#                <a href="{% url  %}"></a>#}
                        {#            </td>#}
                        {#            <td>#}
                        {#                <input type="submit" form="form" name="{{ item.part_number }}" style="color: red" value="Remove">#}
                        {#            </td>#}

                    </tr>
                {% endfor %}
            </table>
            <div>
                Total price: <b>{{ total_price }}</b>
            </div>

            <p class="my-2">
                <button class="btn btn-warning" form="form" name="Order">Place Order</button>
            </p>

        {% endif %}
        <p>
            <a class="btn btn-primary" href="{% url 'create oder' %}">Back</a>
        </p>
    </div>




{% endblock page_content %}