<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Part</title>
</head>

<header>
    {% include 'base/nav.html' %}
</header>

<body>
<h2>Edit Part: <h3>{{ sparepart.part_number }}</h3></h2>
<form method="post" action="{% url 'part edit' pk=sparepart.pk %}">
    {{ form.as_p }}
    <input type="submit" value="Save">
    {% csrf_token %}
</form>

<a href="{% url 'part details' pk=sparepart.pk %}">Back</a>

</body>
</html>