{% extends 'base/base.html' %}

{% block title %}Spare parts overview{% endblock title %}

{% block page_content %}
    <a class="btn btn-primary mx-3 my-2 float-sm-start" href="{% url 'index' %}">Back</a>
    <div class="container col-11 mt-2">
        <form method="get" action="{% url 'spare parts' %}">
            <input class="border-dark rounded" type="text" name="pattern">
            <input class="btn btn-primary" type="submit" value="Search">
            {% csrf_token %}
        </form>
    </div>

    <section class="py-2">
        {#        {% if request.user.position != 'maintenance' %}#}
        {#            <div class="text-center">#}
        {#                <a class="btn btn-warning" href="{% url 'create oder' %}">Order new parts</a>#}
        {#            </div>#}
        {#        {% endif %}#}
        <div class="container col-4 float-sm-start">
            <div class=" row-cols-2 row-cols-md-3 row-cols-xl-4">

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Part No</th>
                        <th scope="col">Description</th>
                        <th scope="col">Price</th>
                        <th scope="col" class="text-sm-end">On Stock</th>

                    </tr>
                    </thead>
                    <tbody>

                    {% for part in object_list %}
                        <tr>
                            <th scope="row"><a href="{% url 'part details' pk=part.pk %}">{{ part.pk }}</a></th>
                            <td>{{ part.description }}</td>
                            <td>{{ part.price|floatformat:2 }}</td>
                            <td>{{ order.total_price|floatformat:2 }}</td>
                            <td>{{ part.qty_on_stock }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>


            </div>
        </div>
    </section>
    {% if request.user.position in 'maintenance, admin' %}
        <a class="btn btn-warning float-sm-start" href="{% url 'part create' %}">Create new Part</a>
    {% endif %}


{% endblock page_content %}





{#<!doctype html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <meta name="viewport"#}
{#          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">#}
{#    <meta http-equiv="X-UA-Compatible" content="ie=edge">#}
{#    <title>Document</title>#}
{##}
{#</head>#}
{##}
{#<header>#}
{#    {% include 'base/nav.html' %}#}
{#</header>#}
{##}
{#<body>#}
{#<div>#}
{#    <a href="{% url 'part create' %}">Create new part</a>#}
{##}
{#</div>#}
{#<form method="get" action="{% url 'spare parts' %}">#}
{#    <input type="text" name="pattern">#}
{#    <input type="submit" value="Search">#}
{#    {% csrf_token %}#}
{#</form>#}
{#<ul>#}
{#    {% for part in object_list %}#}
{#        <li>#}
{#            {{ part.part_number }} || {{ part.description }}#}
{#            <a href="{% url 'part details' pk=part.pk %}">Details</a>#}
{#        </li>#}
{#    {% endfor %}#}
{#</ul>#}
{##}
{#<a href="{% url 'index' %}">Back</a>#}
{##}
{#</body>#}
{#</html>#}